<h1>Add A Comment To This Booking</h1>

<%= form_for([:mechanic, :booking, @comment]) do |f| %>
  <div>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>