
<div class="container">
  
  <div class="ui stackable two column very relaxed grid container" style="position:relative;">
    <div class="column">
      <div class="segment">
        
        <!-- <div class="ui link cards"> -->
          <div class="ui card">
            <div class="image">
              <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
            </div>
            <div class="content">
              <div class="header"><%= "#{@mechanic.first_name} #{@mechanic.last_name}" %></div>
              <div class="meta">
                <a>Location: #{location}</a>
              </div>
              <div class="description">
                <%= "#{@mechanic.bio}" %>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined #{date} #{year}
              </span>
              <span>
                <i class="user icon"></i>
                15 Bookings
              </span>
            </div>
          <!-- </div> -->
        </div>
        <button class="massive ui button">
            Request a Booking
        </button>


      </div>
    </div>
    <div class="ui divider vertical"></div>
    <div class="column">
      <div class="ui segment">
        <h2 class="ui left floated header"><%= "#{@mechanic.first_name}'s Service Menu" %></h2>
          <div class="ui clearing divider"></div>
          <ul>
          <% @mechanic.services.each do |service| %>
            <li><%= "Service: #{service.service_name} | Price: $#{service.service_price}" %></li>
          <% end %>
          </ul>
        </div class="ui segment">
          <h2 class="ui left floated header">Reviews</h2>
          <div class="ui clearing divider"></div>
          <div class="ui card">
            <div class="content">
              <div class="header">Thanks for the help</div>
              <div class="meta">
                <span class="right floated time">2 days ago</span>
                <span class="category">
                  <div class="ui mini star rating" data-max-rating="10" data-rating="4"></div>
                </span>
              </div>
              <div class="description">
                <div class="right floated author">
                <img class="ui avatar image" src="http://semantic-ui.com/examples/assets/images/wireframe/image.png"> 
                < %= "#{review.cyclist.first_name}" %>
                </div>
                <p>< %= "#{review.comments}" %></p>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <i class="configure icon"></i>
                < %= "Provided expected service: #{review.service_expected}" %>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated author">
                <i class="dollar icon"></i>
                < %= "Charged expected price: #{review.price_expected}" %>
              </div>
            </div>
          </div>

    </div>
  </div>