<h1>Your Service Order</h1>

<% @user = User.find(session[:id]) %>
<% @user.bookings.each do |booking| %>
  <h3>Service Order</h3>
  <p><%= "Job Description: #{booking.description}" %></p>
  <p><%= "Job Status: #{booking.status}" %></p>
  <h4>Requested Services</h4>
  <% booking.services.each do |service| %>
    <p><%= "Service name: #{service.service_name}" %></p>
    <p><%= "Service price: #{service.service_price}" %></p>
  <% end %>
<% end %>