<% content_for :header do -%>
  <%# The precompile initalizer is found in `config/initializers/assets.rb` %>
  <%= stylesheet_link_tag 'index' %>
	<script>
	  $(document)
	    .ready(function() {

	      // fix menu when passed
	      $('.masthead')
	        .visibility({
	          once: false,
	          onBottomPassed: function() {
	            $('.fixed.menu').transition('fade in');
	          },
	          onBottomPassedReverse: function() {
	            $('.fixed.menu').transition('fade out');
	          }
	        })
	      ;

	      // create sidebar and attach to menu open
	      $('.ui.sidebar')
	        .sidebar('attach events', '.toc.item')
	      ;

	    })
	  ;
	</script>

<% end -%>

		
		<!-- Following Menu -->
		<div class="ui large top fixed hidden menu">
		  <div class="ui container">
		    <a class="active item">Home</a>
		    <a class="item">Work</a>
		    <a class="item">Company</a>
		    <a class="item">Careers</a>
		    <div class="right menu">
		      <div class="item">
		        <a class="ui button">Log in</a>
		      </div>
		      <div class="item">
		        <a class="ui primary button">Sign Up</a>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Sidebar Menu -->
		<div class="ui vertical inverted sidebar menu">
		  <a class="active item">Home</a>
		  <a class="item">Work</a>
		  <a class="item">Company</a>
		  <a class="item">Careers</a>
		  <a class="item">Login</a>
		  <a class="item">Signup</a>
		</div>



		<div class="pusher">
		  <div class="ui inverted vertical masthead center aligned segment">

		    <div class="ui container">
		      <div class="ui large secondary inverted pointing menu">
		        <a class="toc item">
		          <i class="sidebar icon"></i>
		        </a>
		        <div class="item">
		        	<img src="../../assets/images/pedalspace_logo_navbar.png"/>
		        </div>
	    <!--    <a class="active item">Home</a>
		        <a class="item">Work</a>
		        <a class="item">Company</a>
		        <a class="item">Careers</a> -->
		        <div class="right item">
		          <a href='/users/sign_in' class="ui inverted button">Log in</a>
		          <a href='/users/sign_up' class="ui teal button">Join Pedalspace</a>
		        </div>
		      </div>
		    </div>

		    <div class="ui text container">
		      <h1 class="ui inverted header">
		        Pedalspace
		      </h1>
		      <h2>Do whatever you want when you want to.</h2>
		      		<div class="container fluid findbg">
		      			<form class="ui form">
		      				<div class="field">
		      					<div class="fields">
		      						<div class="eleven wide field">
		      							<div class="ui search location">
		      								<div class="ui left icon input">
		      									<i class="inverted circular blue map icon"></i>
		      									<input class="prompt" type="text" name="location" placeholder="Enter your location">
		      								</div>
		      							</div>
		      						</div>
		      					</div>
		      				</div>
		      			</form>
		      		</div>
	<!-- 	      <div class="ui huge teal button">Get Started <i class="right arrow icon"></i></div> -->
		    </div>

		  </div>
